{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block contenido %}
	<form id='form' method='post' action=''>{% csrf_token %}
		{{ form.non_field_errors }}
		<table>
			<tr>
				<th>Estado Civil:</th>
				<td>{{form.desestadocivil}}</td>
				<td><div class="error">{{form.desestadocivil.errors}}</div></td>
			</tr>
			<tr>
				<td><a href="/view/estadocivil" class="boton"/>Volver</td>
				<td colspan="2"><input class="boton" type='submit' value='Guardar' /></td>
			</tr>
		</table>
	</form>
{% endblock %}
