{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block contenido %}
	<form id='form' method='post' action=''>{% csrf_token %}
		{{ form.non_field_errors }}
		<table>
			<tr>
				<th>Tipo de pago:</th>
				<td>{{form.destipopago}}</td>
				<td><div class="error">{{form.destipopago.errors}}</div></td>
			</tr>
			<tr>
				<td><a href="/view/tipopago" class="boton"/>Volver</td>
				<td colspan="2"><input class="boton" type='submit' value='Guardar' /></td>
			</tr>
		</table>
	</form>
{% endblock %}
