<!doctype html>
<html lang="es">
<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/vnd.microsoft.icon" href="{{STATIC_URL}}img/faviconcaja.ico" />
	<link rel="stylesheet" href="{{STATIC_URL}}css/styleslogin.css" />
	<script src="{{STATIC_URL}}js/jquery.js"></script>
	<script src="{{STATIC_URL}}js/prefixfree.min.js"></script>
	<script src="{{STATIC_URL}}js/function.js"></script>
	<title>.::SISTEMA DE STOCK::.</title>
</head>
<body>
	<div class="title1">
		<div class="title1">
			<div class="recTitle1">
				<div class="recTextTitle1">Kinesio Store</div>
			</div>
			<div class="recTitle2">
				<div class="recTextTitle2">Equipos, Accesorios para Fisioterapia</div>
			</div>
		</div>
	</div>
	<section class="login">
		<form id='formulario' method='post' action=''>{% csrf_token %}
			<table>
				<tr>
					<td><label for="user">{{form.username}}</label></td>
				</tr>
				<tr>
					<td><label for="pass">{{form.password}}</label></td>
				</tr>
				<tr>
					<td colspan="2"><input class="boton" type='submit' value='Iniciar sesión' /></td>
				</tr>
			</table>
		</form>
	</section>
	<section>
		{% block contenido %}{% endblock %}
	</section>
	<footer>
		<section class="foot">
			<div class="recFoot1">
				<div class="recTextFoot1">© Copyright Derechos Reservados 2013 - Powered by @_cyberman</div>
			</div>
			<div class="recFoot2">
				<div class="recTextFoot2">Kinesio Store</div>
			</div>
		</section>
	</footer>
</body>
</html>