{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block contenido %}
	<table class="table1">
		<tr>
			<th colspan="3">Lista de Cuotas</th>
		</tr>
		<tr>
			<th><a href="/add/cuota"><img src="{{STATIC_URL}}img/add.png"></a></th>
			<th>ID</th>
			<th>Cantidad Cuotas</th>
		</tr>
		{% for items in list_cuota %}
		<tr>
			<td><a href="{% url 'principal.views.updateCuota' items.id %}"><img src="{{STATIC_URL}}img/pencil.png" /></a></td>
			<td>{{items.id}}</td>
			<td>{{items.cantcuota}}</td>
		</tr>
		{% endfor %}
		<tr>
			<th colspan="3"><div class="pagination">
				<span class="setep-links">
					{% if list_cuota.has_previous %}
						<a href="?page={{ list_cuota.previous_page_number }}"><img src="{{STATIC_URL}}img/back.png" /></a>
					{% endif %}
					<span class="current">
						Pagina {{ list_cuota.number }} de {{ list_cuota.paginator.num_pages }}
					</span>
					{% if list_cuota.has_next %}
						<a href="?page={{ list_cuota.next_page_number }}"><img src="{{STATIC_URL}}img/next.png" /></a>
					{% endif %}
				</span>
			</div></th>
		</tr>
	</table>
{% endblock %}