{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block contenido %}
	<table class="table1">
		<tr>
			<th colspan="5">Lista de Vencimientos</th>
		</tr>
		<tr>
			<th><a href="/add/vencimiento"><img src="{{STATIC_URL}}img/add.png"></a></th>
			<th>Cliente</th>
			<th>Nro. Cuota</th>
			<th>Fecha Vencimiento</th>
			<th>Pedido</th>
		</tr>
		{% for items in list_venc %}
		<tr>
			<td><a href="{% url 'principal.views.updateVencimientoCuota' items.id %}"><img src="{{STATIC_URL}}img/pencil.png" /></a></td>
			<td>{{items.fkpedido.fkcliente}}</td>
			<td>{{items.nrocuota}}</td>
			<td>{{items.fechaven}}</td>
			<td>{{items.fkpedido}}</td>
		</tr>
		{% endfor %}
		<tr>
			<th colspan="5"><div class="pagination">
				<span class="setep-links">
					{% if list_venc.has_previous %}
						<a href="?page={{ list_venc.previous_page_number }}"><img src="{{STATIC_URL}}img/back.png" /></a>
					{% endif %}
					<span class="current">
						Pagina {{ list_venc.number }} de {{ list_venc.paginator.num_pages }}
					</span>
					{% if list_venc.has_next %}
						<a href="?page={{ list_venc.next_page_number }}"><img src="{{STATIC_URL}}img/next.png" /></a>
					{% endif %}
				</span>
			</div></th>
		</tr>
	</table>
{% endblock %}