.menu1 li
{
	float: left;
	position: relative;
}
.menu1 li a
{
	background: #D23D15;
	border-radius: 5px;
	color: #EEE;
	display: block;
	font-size: 9px;
	line-height: 8px;
	margin: 5px 5px;
	padding: 6px 12px;
	text-decoration: none;
	vertical-align: middle;
}
/*.menu1 li a:hover
{
	border-radius: 5px;*/
	/*box-shadow: inset 0px 0px 1px 1px rgba(0,0,0,0.1);*/
	/*color: #222;
}*/
.menu1 ul
{
	left: -9999px;
	list-style: none;
	opacity: 0;
	position: absolute;
	transition: opacity 1s ease;
}
.menu1 ul li
{
	float:none;
	text-align: left;
}
.menu1 ul a
{
	white-space: nowrap;
}
.menu1 li:hover ul
{
	/* Color background del submenu*/
	background: #D23D15; 
	border-radius: 0 0 6px 6px;
	left: 5px;
	opacity: 1;
}
.menu1 li:hover a
{
	 /* hover del menu*/
	background: #A23A10;
	border-radius: 5px;
	color: #EEE;
}
.menu1 li:hover ul a
{
	background: none;
	border-radius: 0;
	box-shadow: none;
}
.menu1 li:hover ul li a:hover
{
	/* hover del submenu*/
	background: #A23A10;
	border-radius: 5px;
}
.wrap1 {
	float: right;
	width: 18%;
	margin: 1em auto;
}